@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700');
@import '../node_modules/codemirror/lib/codemirror.css';

body {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.split, .gutter.gutter-horizontal {
  float: left;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
}

.gutter {
  float: left;
  background-color: #eee;
  cursor: ew-resize;
}